<html>
  <head>
    <title>Movie App</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/design.css" />
  </head>
  <body>
    <h1 id="resulth1">
      Résultats de la recherche :
      <span style="color: rgb(4, 4, 116)">Groom Service</span>
    </h1>
    <div class="card mb-5 w-75">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="" clas="card-img img-fluid" alt="image-film" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">Groom Service</h2>
            <hr />
            <p class="card-text">
              Le groom d'un hôtel de luxe présente quatre histoires, se passant
              dans quatre chambres différentes. The missing ingredient : des
              sorcières tentent d'invoquer l'esprit de la déesse Dia....
            </p>
            <br />
            <hr />
            <p class="card-text"><b>Date de publication : </b> 1995</p>
            <p class="card-text"><b>Nombre de votes: </b> 2,068</p>
            <p class="card-text"><b>Note : </b> 5</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
